*.log
*.pdf
*.sec.jpg
*.whl
*.mp3
*.gif
*.pyc
*.sec.txt
.idea/
docs/Java_voice_1019_59201208_2/sample/IsvDemo/res/
docs/Java_voice_1019_59201208_2/sample/MscDemo/res/
Spider/appstore/.DS_Store
*/.DS_Store
Spider/commentbox/assets/node_modules/
*/venv/
*/ENV/
# Distribution / packaging
.Python
env/
build/
develop-eggs/
downloads/
*/eggs/
*/.eggs/
*/lib/
*/lib64/
*/parts/
*/sdist/
*/var/
*.egg-info/
.installed.cfg
*.egg
test.py