*.log
*.pdf
*.jpg
*.whl
*.mp3
*.gif
*.pyc
*.sec.txt
.idea/
Docs/Java_voice_1019_59201208_2/sample/IsvDemo/res/
Docs/Java_voice_1019_59201208_2/sample/MscDemo/res/
Spider/appstore/.DS_Store
*/.DS_Store
